/* General styles for 404 page */
.page-not-found {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: var(--font-family-nav);
  }
  
  .not-found-content {
    text-align: left;
    padding: 20px;
  }
  
  .not-found-content h1 {
    font-family: var(--font-family-heading);
  }
  
  .not-found-content p {
    margin: 30px 0;
  }
  
  .not-found-content a {
    text-decoration: none;
    color: var(--color-green-light);
    font-weight: bold;
    padding: 10px;
    border: 1px solid var(--color-green-light);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .not-found-content a:hover {
    background-color: var(--color-green-light);
    color: var(--color-black);
  }


/* Mobile optimization */
@media (max-width: 900px) {
  .not-found-content {
    padding: 15px;
    text-align: left; /* Центрує контент на менших екранах */
  }

  .not-found-content h1 {
    font-size: 2rem; /* Зменшує розмір заголовка для мобільних пристроїв */
  }

  .not-found-content p {
    margin: 20px 0;
    font-size: 1rem; /* Оптимізує розмір шрифту для мобільних пристроїв */
  }

  .not-found-content a {
    padding: 8px 15px;
    font-size: 1rem; /* Зменшує розмір тексту і кнопки */
  }
}